.filter-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}

select {
  font-family: "Karla";
  border: 1px solid #fcac19;
  border-radius: 8px;
  color: #fcac19;
  background-color: #323741;
  padding: 0.8rem;
  width: 230px;
  font-size: 1rem;
}

option {
  font-size: 1rem;
  color: #fcac19;
  background-color: #323741;
}

input {
  font-family: "Karla";
  border: 1px solid #fcac19;
  border-radius: 8px;
  color: #fcac19;
  background-color: #323741;
  padding: 0.8rem;
  width: 230px;
  font-size: 1rem;
}
