<nav>
  <ul>
    <li routerLink="/items/pistols" routerLinkActive="active" class="list-group-item">Pistols</li>
    <li routerLink="/items/mid-tier" routerLinkActive="active" class="list-group-item">Mid-Tier</li>
    <li routerLink="/items/rifles" routerLinkActive="active" class="list-group-item">Rifles</li>
    <li routerLink="/items/knifes" routerLinkActive="active" class="list-group-item">Knifes</li>
    <li routerLink="/items/gloves" routerLinkActive="active" class="list-group-item">Gloves</li>
    <li routerLink="/items/agents" routerLinkActive="active" class="list-group-item">Agents</li>
    <li routerLink="/items/stickers" routerLinkActive="active" class="list-group-item">Stickers</li>
    <li routerLink="/items/cases" routerLinkActive="active" class="list-group-item">Cases</li>
    <li routerLink="/items/collections" routerLinkActive="active" class="list-group-item">Collections</li>
    <li routerLink="/items/patches" routerLinkActive="active" class="list-group-item">Patches</li>
    <li routerLink="/items/music-kit" routerLinkActive="active" class="list-group-item">Music Kits</li>
    <li routerLink="/items/medals" routerLinkActive="active" class="list-group-item">Medals</li>
    <li routerLink="/items/keys" routerLinkActive="active" class="list-group-item">Keys</li>
    <li routerLink="/items/graffiti" routerLinkActive="active" class="list-group-item">Graffitis</li>
  </ul>
</nav>
