.details-page {
  font-family: "Karla";
  background-color: #1c1e22;
  list-style: none;
  text-align: center;
  border: 1px solid #0c0d0e;
  border-radius: 4px;
  margin: 1rem;
  color: white;
  margin-inline: 5%;
}

.details-goback {
  color: white;
  font-family: "Karla";
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 38%;
  bottom: 0.7rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fcac19;
  border-radius: 5px;
  background-color: transparent;
}

.container-case-collection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.container-collections-contain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
}

.phase {
  color: greenyellow;
}

.category {
  color: #fcac19;
}
