$font: "Karla";

.skins-list {
  font-family: $font;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  .card {
    background-color: #1c1e22;
    list-style: none;
    text-align: center;
    display: inline-block;

    border: 1px solid #0c0d0e;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
      rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
    border-radius: 4px;
    margin: 1rem;
  }

  .skin-image:hover {
    transform: scale(1.05);
  }

  .skin-image {
    width: auto;
    height: auto;
  }

  .skin-name {
    padding: 0.3rem;
    font-weight: 600;
    color: white;
  }

  .card:hover {
    box-shadow: rgba(200, 131, 16, 0.4) -5px 5px,
      rgba(200, 131, 16, 0.3) -10px 10px, rgba(200, 131, 16, 0.2) -15px 15px;
    transform: scale(1.01);
  }

  .skin-rarity {
    font-family: $font;
    margin-inline: 1rem;
    color: #000;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .loader {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  li {
    background-color: #1c1e22;
    text-align: center;
    border: 1px solid #0c0d0e;
    border-radius: 4px;
    width: auto;
    height: auto;
    text-align: center;
  }

  .phase {
    color: yellowgreen;
  }
}

:host ::ng-deep .ngx-pagination {
  border: 1px solid #0c0d0e;
  background-color: #1c1e22;
  width: fit-content;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-right: 1rem;
  color: white;
  float: right;
}
